.dockerignore
.DS_Store
.git
.github
.gitignore
.gitlab-ci.yml
.gitmodules
.idea
.data
tests
README.md
Dockerfile
Dockerfile.archive
docker-compose.yml

*/temp*
*/*/temp*
docker
*.zip
*.sql
*.log
*.tar.gz

node_modules
*.md
eruz
certs
scripts.sh
*.csv
